{% extends 'base.html' %} {% block content %}
<style>
  .query-list {
    max-height: 400px;
    overflow-y: auto;
  }
</style>
<div class="mt-5 query-list">
  <div class="list-group" id="qna-container"></div>
</div>
<div class="mt-4">
  <button id="qna-clear-response" class="btn btn-success">
    Clear Response
  </button>
</div>
<div id="response-render" class="table-responsive mt-4"></div>
<script>
  const qna = [
    {
      question: "To Search for Policies by Policy Type: 'Endowment Plan'",
      query: "SELECT * from Policy where policy_type='Endowment Plan';",
    },
    {
      question: "Search for Policy Holders whose Status is Active",
      query: "SELECT * from policy_holder where status='Active';",
    },
    {
      question: "Search for Transactions by Transaction Type: Premium Payment",
      query: "SELECT * FROM transaction WHERE transactionType = 'Premium Payment';",
    },
    {
      question: "Search for Branches in Bengaluru",
      query: "SELECT * from Branch where city='Bengaluru';",
    },
    {
      question: "Search for all Transactions in Year 2022",
      query: "SELECT * from transaction where transactionDate between '2022-01-01' and '2022-12-31'",
    },
    {
      question:
        "Retrieve the name and relation of policy_holder=100",
      query: "SELECT p.first_name as First_Name, p.last_name as Last_Name, b.relation_with_holder as Relation FROM Person p JOIN Beneficiary b ON p.person_id = b.person_id WHERE b.pid = 100;",
    },
    {
      question: "List the name of all Employees who work in Dharwad.",
      query: "SELECT p.first_name as First_Name,p.last_name as Last_Name FROM Person p join Employee e on p.person_id=e.person_id join Works w on w.eid=e.eid join Branch b on b.branch_id=w.branch_id WHERE b.city = 'Dharwad';"
    },
    {
      question:
        "List the name of all the People who have an online account in LIC",
      query: "SELECT p.first_name as First_Name, p.last_name as Last_Name FROM Person p WHERE p.person_id IN (SELECT a.person_id FROM Online_account a);",
    },
    {
      question:
        "Find the details of the People who live in Mumbai",
      query: "SELECT * FROM Person WHERE city = 'Mumbai';",
    },
  ]

  const queryContainer = document.getElementById("qna-container")
  const response = document.getElementById("response-render")
  const clear = document.getElementById("qna-clear-response")

  clear.addEventListener("click", () => {
    response.innerHTML = ""
  })

  // Loop through the qna array and create anchor tags for each object
  qna.forEach((item, index) => {
    const anchor = document.createElement("a")
    anchor.href = `/sqlquery?query=${encodeURIComponent(item.query)}`
    anchor.textContent = item.question
    anchor.target = "_blank"

    anchor.classList.add(
      "list-group-item",
      "list-group-item-action",
      "list-group-item-light"
    )

    anchor.addEventListener("click", (event) => {
      event.preventDefault() // Prevent the default behavior of clicking a link
      // Send the GET request to the server
      fetch(anchor.href, {
        method: "GET",
      })
        .then((response) => response.text())
        .then((data) => {
          response.innerHTML = data
        })
        .catch((error) => {
          console.error("Error:", error)
          response.innerHTML = "An error occurred."
        })
    })

    // Append the anchor tag to the queryContainer
    queryContainer.appendChild(anchor)
  })
</script>
{% endblock %}
