{% extends 'base.html' %} {% block content %}
<h2 class="mt-4" style="text-align: center">Transactions</h2>
<div class="list-group mt-5">
  <a
    href="{{ url_for('add_person') }}"
    class="list-group-item list-group-item-action list-group-item-secondary"
    >Adding a Person's data</a
  >
  <a
    href="{{ url_for('ex1') }}"
    class="list-group-item list-group-item-action list-group-item-secondary"
    >Adding a person to a policy</a
  >
  <a
    href="{{ url_for('ex2') }}"
    class="list-group-item list-group-item-action list-group-item-secondary"
    >Adding a beneficiary to a policy</a
  >
  <a
    href="{{ url_for('ex3') }}"
    class="list-group-item list-group-item-action list-group-item-secondary"
    >Payment for a policy</a
  >
</div>
{% endblock %}
