{% extends 'base.html' %} {% block content %}
<style>
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
  }
</style>
<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('transac') }}">Transactions</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Add a Person's data
    </li>
  </ol>
</nav>
<div class="border border-secondary form-container">
  <form
    hx-post="/addPerson"
    hx-target="#response-addPerson"
    hx-swap="innerHTML"
  >
    <div class="mb-3">
      <label for="person_id" class="form-label"
        >Create a new ID for the person</label
      >
      <input type="text" class="form-control" name="person_id" id="person_id" />
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label">First Name</label>
      <input type="text" class="form-control" name="fname" id="fname" />
    </div>
    <div class="mb-3">
      <label for="lname" class="form-label">Last Name</label>
      <input type="text" class="form-control" name="lname" id="lname" />
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <select
        class="form-select"
        aria-label="Select Gender"
        name="gender"
        id="gender"
      >
        <option selected>Select Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input type="number" class="form-control" name="age" id="age" />
    </div>
    <div class="mb-3">
      <label for="dob" class="form-label">Date of birth</label>
      <input type="date" class="form-control" name="dob" id="dob" />
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" name="address" id="address" />
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">State</label>
      <input type="text" class="form-control" name="state" id="state" />
    </div>
    <div class="mb-3">
      <label for="pin_code" class="form-label">Pin Code</label>
      <input type="number" class="form-control" name="pin_code" id="pin_code" />
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" name="city" id="city" />
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <input type="text" class="form-control" name="country" id="country" />
    </div>
    <div class="mt-4">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button
        type="reset"
        id="reset-addPerson"
        class="btn btn-secondary"
        style="margin-left: 8px"
      >
        Reset
      </button>
    </div>
  </form>
</div>
<div class="mt-2 form-container">
  <h4>Response:</h4>
  <div id="response-addPerson"></div>
</div>
<script>
  const response = document.getElementById("response-addPerson")
  const reset = document.getElementById("reset-addPerson")
  reset.addEventListener("click", () => {
    response.innerHTML = ""
  })
</script>
{% endblock %}
