{% extends 'base.html' %} {% block content %}
<style>
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
  }
</style>
<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('transac') }}">Transactions</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Payment for a policy
    </li>
  </ol>
</nav>
<div class="border border-secondary form-container">
  <form hx-post="/transaction3" hx-target="#response-ex3" hx-swap="innerHTML">
    <div class="mb-3">
      <label for="pid" class="form-label">Policy assignment reference ID</label>
      <input type="text" class="form-control" name="pid" id="pid" />
    </div>
    <div class="mb-3">
      <label for="transaction_type" class="form-label">Transaction Type</label>
      <input
        type="text"
        class="form-control"
        name="transaction_type"
        id="transaction_type"
      />
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input type="number" class="form-control" name="amount" id="amount" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        name="description"
        id="description"
      />
    </div>
    <div class="mt-4">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button
        type="reset"
        id="reset-ex3"
        class="btn btn-secondary"
        style="margin-left: 8px"
      >
        Reset
      </button>
    </div>
  </form>
</div>
<div class="mt-2 form-container">
  <h4>Response:</h4>
  <div id="response-ex3"></div>
</div>
<script>
  const response = document.getElementById("response-ex3")
  const reset = document.getElementById("reset-ex3")
  reset.addEventListener("click", () => {
    response.innerHTML = ""
  })
</script>
{% endblock %}
